<!DOCTYPE html>
<html lang="en">

<head>
  <title>Index</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="img-banner"></div>
  <main>
    <div class="content">
      <h1>{{ location.region }}</h1>
      <div class="forecast-details">
        <h2>{{ temperature }}°<span>C</span></h2>
        <ul>
          <li>Feels like: {{ feelslike }}°C</li>
          <li>Humidity: {{ humidity }}%</li>
          <li>Wind: {{ wind }} km/h</li>
        </ul>
      </div>
    </div>
    <footer>
      <p>{{ description }}</p>
      <p>{{ date }}</p>
    </footer>
  </main>


  <!-- <footer> -->
  <!--   <p>Made by <a href="https://github.com/dev-math">dev-math</a></p> -->
  <!-- </footer> -->
</body>

</html>
